
.vs/ChatSounds/DesignTimeBuild/.dtbcache.v2
.vs/ChatSounds/v16/.suo
.vs/KeybindsGalore/DesignTimeBuild/.dtbcache.v2
.vs/KeybindsGalore/v16/.suo
.vs/MoonbaseBeta/DesignTimeBuild/.dtbcache.v2
.vs/MoonbaseBeta/v16/.suo
.vs/MoonTunes/v16/.suo
.vs/VoiceChat/DesignTimeBuild/.dtbcache.v2
.vs/VoiceChat/v16/.suo
bin/Debug/netstandard2.0/0Harmony.dll
bin/Debug/netstandard2.0/Assembly-CSharp.dll
bin/Debug/netstandard2.0/Assembly-CSharp.refstub.dll
bin/Debug/netstandard2.0/BepInEx.dll
bin/Debug/netstandard2.0/BepInEx.Harmony.dll
bin/Debug/netstandard2.0/BepInEx.Preloader.dll
bin/Debug/netstandard2.0/BepInEx.xml
bin/Debug/netstandard2.0/ChatSounds.deps.json
bin/Debug/netstandard2.0/ChatSounds.dll
bin/Debug/netstandard2.0/ChatSounds.pdb
bin/Debug/netstandard2.0/Facepunch.Steamworks.dll
bin/Debug/netstandard2.0/HGCSharpUtils.dll
bin/Debug/netstandard2.0/MMHOOK_Assembly-CSharp.dll
bin/Debug/netstandard2.0/Mono.Cecil.dll
bin/Debug/netstandard2.0/Mono.Cecil.Mdb.dll
bin/Debug/netstandard2.0/Mono.Cecil.pdb
bin/Debug/netstandard2.0/Mono.Cecil.Pdb.dll
bin/Debug/netstandard2.0/Mono.Cecil.Rocks.dll
bin/Debug/netstandard2.0/MonoMod.RuntimeDetour.dll
bin/Debug/netstandard2.0/MonoMod.Utils.dll
bin/Debug/netstandard2.0/NAudio.dll
bin/Debug/netstandard2.0/R2API.dll
bin/Debug/netstandard2.0/Rewired_Core.dll
bin/Debug/netstandard2.0/Rewired_CSharp.dll
bin/Debug/netstandard2.0/Rewired_Windows_Lib.dll
bin/Debug/netstandard2.0/Unity.Postprocessing.Runtime.dll
bin/Debug/netstandard2.0/Unity.TextMeshPro.dll
bin/Debug/netstandard2.0/UnityEngine.AccessibilityModule.dll
bin/Debug/netstandard2.0/UnityEngine.AIModule.dll
bin/Debug/netstandard2.0/UnityEngine.AnimationModule.dll
bin/Debug/netstandard2.0/UnityEngine.ARModule.dll
bin/Debug/netstandard2.0/UnityEngine.AssetBundleModule.dll
bin/Debug/netstandard2.0/UnityEngine.AudioModule.dll
bin/Debug/netstandard2.0/UnityEngine.BaselibModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClothModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClusterInputModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClusterRendererModule.dll
bin/Debug/netstandard2.0/UnityEngine.CoreModule.dll
bin/Debug/netstandard2.0/UnityEngine.CrashReportingModule.dll
bin/Debug/netstandard2.0/UnityEngine.DirectorModule.dll
bin/Debug/netstandard2.0/UnityEngine.dll
bin/Debug/netstandard2.0/UnityEngine.FileSystemHttpModule.dll
bin/Debug/netstandard2.0/UnityEngine.GameCenterModule.dll
bin/Debug/netstandard2.0/UnityEngine.GridModule.dll
bin/Debug/netstandard2.0/UnityEngine.HotReloadModule.dll
bin/Debug/netstandard2.0/UnityEngine.ImageConversionModule.dll
bin/Debug/netstandard2.0/UnityEngine.IMGUIModule.dll
bin/Debug/netstandard2.0/UnityEngine.InputModule.dll
bin/Debug/netstandard2.0/UnityEngine.JSONSerializeModule.dll
bin/Debug/netstandard2.0/UnityEngine.LocalizationModule.dll
bin/Debug/netstandard2.0/UnityEngine.Networking.dll
bin/Debug/netstandard2.0/UnityEngine.Networking.refstub.dll
bin/Debug/netstandard2.0/UnityEngine.ParticleSystemModule.dll
bin/Debug/netstandard2.0/UnityEngine.PerformanceReportingModule.dll
bin/Debug/netstandard2.0/UnityEngine.Physics2DModule.dll
bin/Debug/netstandard2.0/UnityEngine.PhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.ProfilerModule.dll
bin/Debug/netstandard2.0/UnityEngine.ScreenCaptureModule.dll
bin/Debug/netstandard2.0/UnityEngine.SharedInternalsModule.dll
bin/Debug/netstandard2.0/UnityEngine.SpatialTracking.dll
bin/Debug/netstandard2.0/UnityEngine.SpriteMaskModule.dll
bin/Debug/netstandard2.0/UnityEngine.SpriteShapeModule.dll
bin/Debug/netstandard2.0/UnityEngine.StreamingModule.dll
bin/Debug/netstandard2.0/UnityEngine.StyleSheetsModule.dll
bin/Debug/netstandard2.0/UnityEngine.SubstanceModule.dll
bin/Debug/netstandard2.0/UnityEngine.TerrainModule.dll
bin/Debug/netstandard2.0/UnityEngine.TerrainPhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.TextCoreModule.dll
bin/Debug/netstandard2.0/UnityEngine.TextRenderingModule.dll
bin/Debug/netstandard2.0/UnityEngine.TilemapModule.dll
bin/Debug/netstandard2.0/UnityEngine.Timeline.dll
bin/Debug/netstandard2.0/UnityEngine.TimelineModule.dll
bin/Debug/netstandard2.0/UnityEngine.TLSModule.dll
bin/Debug/netstandard2.0/UnityEngine.UI.dll
bin/Debug/netstandard2.0/UnityEngine.UIElementsModule.dll
bin/Debug/netstandard2.0/UnityEngine.UIModule.dll
bin/Debug/netstandard2.0/UnityEngine.UmbraModule.dll
bin/Debug/netstandard2.0/UnityEngine.UNETModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityAnalyticsModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityConnectModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityTestProtocolModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAssetBundleModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAudioModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestTextureModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestWWWModule.dll
bin/Debug/netstandard2.0/UnityEngine.VehiclesModule.dll
bin/Debug/netstandard2.0/UnityEngine.VFXModule.dll
bin/Debug/netstandard2.0/UnityEngine.VideoModule.dll
bin/Debug/netstandard2.0/UnityEngine.VRModule.dll
bin/Debug/netstandard2.0/UnityEngine.WindModule.dll
bin/Debug/netstandard2.0/UnityEngine.XRModule.dll
bin/Debug/netstandard2.0/VoiceChat.deps.json
bin/Debug/netstandard2.0/VoiceChat.dll
bin/Debug/netstandard2.0/VoiceChat.pdb
bin/Debug/netstandard2.0/VRMod.dll
bin/Debug/netstandard2.0/Wwise.dll
bin/Debug/netstandard2.0/Zio.dll
obj/VoiceChat.csproj.nuget.g.targets
obj/VoiceChat.csproj.nuget.g.props
obj/VoiceChat.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/MoonTunes.csproj.nuget.g.targets
obj/MoonTunes.csproj.nuget.g.props
obj/MoonTunes.csproj.nuget.dgspec.json
obj/MoonbaseBeta.csproj.nuget.g.targets
obj/MoonbaseBeta.csproj.nuget.g.props
obj/MoonbaseBeta.csproj.nuget.dgspec.json
obj/Debug/netstandard2.0/VoiceChat.pdb
obj/Debug/netstandard2.0/VoiceChat.dll
obj/Debug/netstandard2.0/VoiceChat.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/VoiceChat.csproj.GenerateResource.cache
obj/Debug/netstandard2.0/VoiceChat.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/VoiceChat.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/VoiceChat.csproj.CopyComplete
obj/Debug/netstandard2.0/VoiceChat.assets.cache
obj/Debug/netstandard2.0/VoiceChat.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/VoiceChat.AssemblyInfo.cs
obj/Debug/netstandard2.0/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/netstandard2.0/MoonTunes.csproj.GenerateResource.cache
obj/Debug/netstandard2.0/MoonTunes.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/MoonTunes.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/MoonTunes.csproj.CopyComplete
obj/Debug/netstandard2.0/MoonTunes.assets.cache
obj/Debug/netstandard2.0/MoonTunes.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/MoonTunes.AssemblyInfo.cs
obj/Debug/netstandard2.0/MoonbaseBeta.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/MoonbaseBeta.csproj.GenerateResource.cache
obj/Debug/netstandard2.0/MoonbaseBeta.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/MoonbaseBeta.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/MoonbaseBeta.csproj.CopyComplete
obj/Debug/netstandard2.0/MoonbaseBeta.assets.cache
obj/Debug/netstandard2.0/MoonbaseBeta.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/MoonbaseBeta.AssemblyInfo.cs
obj/Debug/netstandard2.0/Evaisa.VoiceChat.Properties.Resources.resources
obj/Debug/netstandard2.0/ChatSounds.pdb
obj/Debug/netstandard2.0/ChatSounds.dll
obj/Debug/netstandard2.0/ChatSounds.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/ChatSounds.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/ChatSounds.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/ChatSounds.csproj.CopyComplete
obj/Debug/netstandard2.0/ChatSounds.assets.cache
obj/Debug/netstandard2.0/ChatSounds.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/ChatSounds.AssemblyInfo.cs
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Debug/AssemblyReference.cache
obj/ChatSounds.csproj.nuget.g.targets
obj/ChatSounds.csproj.nuget.g.props
obj/ChatSounds.csproj.nuget.dgspec.json
Release/README.md
Release/manifest.json
Release/icon.png
Properties/Resources.resx
Properties/Resources.Designer.cs
